option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:autoscaling:launchconfiguration:
    InstanceType: m5.large
    IamInstanceProfile: elasticsearch
    SecurityGroups: sg-0b36d67d,sg-8d09e9fb
    BlockDeviceMappings: "/dev/sdf=:300"
  aws:ec2:vpc:
    VPCId: vpc-a74b94dc
    Subnets: subnet-5154076e,subnet-ce2dcb84
    ELBSubnets: subnet-5154076e,subnet-ce2dcb84
    ELBScheme: internal
    AssociatePublicIpAddress: true
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-elasticsearch-service-role

files:
  "/root/mount_nvme.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if lsblk | grep nvme1 &> /dev/null; then
        if ! mount | grep nvme1 &> /dev/null; then
          mkdir -p /var/esdata
          mkfs -t ext4 /dev/nvme1n1
          echo -e "/dev/nvme1n1\t/var/esdata\text4\tdefaults,noatime\t0\t2" >> /etc/fstab
          mount /var/esdata
          echo "NVMe disk mount setup and working"
        else
          echo "NVMe disk already mounted"
        fi
      else
        echo "No NVMe disk connected"
      fi