option_settings:
  aws:elasticbeanstalk:application:environment:
    ES_JAVA_OPTS: -Xms6g -Xmx6g

files:
  "/root/mount_nvme.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if lsblk | grep nvme1 &> /dev/null; then
        if ! mount | grep nvme1 &> /dev/null; then
          mkdir -p /var/esdata
          mkfs -t ext4 /dev/nvme1n1
          echo -e "/dev/nvme1n1\t/var/esdata\text4\tdefaults,noatime\t0\t2" >> /etc/fstab
          mount /var/esdata
          echo "NVMe disk mount setup and working"
        else
          echo "NVMe disk already mounted"
        fi
      else
        echo "No NVMe disk connected"
      fi

  "/etc/nginx/nginx.conf":
    mode: "744"
    owner: root
    group: root
    content: |
      user                    nginx;
      error_log               /var/log/nginx/error.log warn;
      pid                     /var/run/nginx.pid;
      worker_processes        auto;
      worker_rlimit_nofile    200000;
      
      events {
          worker_connections  1024;
      }
      
      http {
          include       /etc/nginx/mime.types;
          default_type  application/octet-stream;
      
          log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                            '$status $body_bytes_sent "$http_referer" '
                            '"$http_user_agent" "$http_x_forwarded_for"';
      
          include       conf.d/*.conf;
      
          map $http_upgrade $connection_upgrade {
              default     "upgrade";
          }
      
          server {
              listen        80 default_server;
              access_log    /var/log/nginx/access.log main;
      
              client_header_timeout 60;
              client_body_timeout   60;
              keepalive_timeout     60;
              gzip                  off;
              gzip_comp_level       4;
              gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;
              proxy_buffers 8 16k;
              proxy_buffer_size 16k;
      
              # Include the Elastic Beanstalk generated locations
              include conf.d/elasticbeanstalk/*.conf;
          }
      }

  "/usr/lib/jvm/jre-1.8.0-openjdk.x86_64/lib/security/java.policy":
    mode: "644"
    owner: root
    group: root
    content: |
      grant codeBase "file:${{java.ext.dirs}}/*" {
              permission java.security.AllPermission;
      };

      grant {
              permission java.lang.RuntimePermission "stopThread";
              permission java.lang.RuntimePermission "accessDeclaredMembers";
              permission java.lang.RuntimePermission "getClassLoader";
              permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
              permission java.lang.RuntimePermission "accessDeclaredMembers";
              permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
              permission javax.management.MBeanTrustPermission "register";
              permission javax.management.MBeanTrustPermission "findMBeanServer";
              permission java.net.SocketPermission "localhost:0", "listen";
              permission java.util.PropertyPermission "java.version", "read";
              permission java.util.PropertyPermission "java.vendor", "read";
              permission java.util.PropertyPermission "java.vendor.url", "read";
              permission java.util.PropertyPermission "java.class.version", "read";
              permission java.util.PropertyPermission "os.name", "read";
              permission java.util.PropertyPermission "os.version", "read";
              permission java.util.PropertyPermission "os.arch", "read";
              permission java.util.PropertyPermission "file.separator", "read";
              permission java.util.PropertyPermission "path.separator", "read";
              permission java.util.PropertyPermission "line.separator", "read";
              permission java.util.PropertyPermission "java.specification.version", "read";
              permission java.util.PropertyPermission "java.specification.vendor", "read";
              permission java.util.PropertyPermission "java.specification.name", "read";
              permission java.util.PropertyPermission "java.vm.specification.version", "read";
              permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
              permission java.util.PropertyPermission "java.vm.specification.name", "read";
              permission java.util.PropertyPermission "java.vm.version", "read";
              permission java.util.PropertyPermission "java.vm.vendor", "read";
              permission java.util.PropertyPermission "java.vm.name", "read";
      };

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      INSTALL=false
      ES_VER=5.6.11
      SCRIPT_ABS_FILE=$(readlink -f $0)
      CURRENT_MD5=$(md5sum "$SCRIPT_ABS_FILE" | cut -d ' ' -f 1)
      STORED_MD5=$(cat ~/.esconfigversion)

      /root/mount_nvme.sh

      if [ ! -f ~/.esconfigversion ]; then
        echo "~/.esconfigversion not found, building again."
        INSTALL=true
      fi

      if [ "$INSTALL" != true ] && [ "$CURRENT_MD5" != "$STORED_MD5" ]; then
        echo "Script is modified, building again."
        INSTALL=true
      fi

      if [ "$INSTALL" = true ]; then
        ES_URL=https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-$ES_VER.zip
        cd ~/ && wget $ES_URL
        unzip elasticsearch-*

        rm -rf /usr/local/elasticsearch-*
        mv elasticsearch-* /usr/local/

        mkdir -p /etc/elasticsearch/plugins
        mkdir -p /var/esdata

        /usr/local/elasticsearch-$ES_VER/bin/elasticsearch-plugin install discovery-ec2
        /usr/local/elasticsearch-$ES_VER/bin/elasticsearch-plugin install repository-s3
        /usr/local/elasticsearch-$ES_VER/bin/elasticsearch-plugin install -b https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-$ES_VER.0.zip

        test -f /opt/aws/bin/elasticsearch && unlink /opt/aws/bin/elasticsearch
        ln -s /usr/local/elasticsearch-$ES_VER/bin/elasticsearch /opt/aws/bin

        chown -R webapp:webapp /var/esdata

        echo $CURRENT_MD5 > ~/.esconfigversion

        echo vm.max_map_count = 262144 >> /etc/sysctl.conf
        sysctl -p

        echo "Done!"
      else
        echo "Script is not updated since last install, not running again."
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_setup_telegraf.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkdir -p /tmp/setup_telegraf
      cd /tmp/setup_telegraf
      wget https://s3.amazonaws.com/devex-setup-info/dist/tools/setup_telegraf.sh
      chmod +x setup_telegraf.sh
      ./setup_telegraf.sh

container_commands:
        01_run_setup_script:
            command: "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh"
