files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_setup_telegraf.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkdir -p /tmp/setup_telegraf
      cd /tmp/setup_telegraf
      wget https://s3.amazonaws.com/devex-dist/telegraf/setup_telegraf.sh
      chmod +x setup_telegraf.sh
      ./setup_telegraf.sh
